body,
html {
  height: 100%;
  font-family: "Open Sans", "Helvetica", "Verdana", sans-serif;
  background-color: #ddd;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.light-text {
  color: #ddd;
}
/* Begin Nav */

nav {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: flex-end;
  background-color: #504766;
  opacity: 0.9;
}

ul {
  font-size: 15px;
  font-weight: 400;
  list-style-type: none;
  background-color: transparent;
}

nav ul li {
  min-width: fit-content;
  display: inline-block;
  margin-right: 10px;
}
nav ul li a {
  display: inline;
  color: #ddd;
  text-align: center;
  text-decoration: none;
  padding: 7px 7px;
}
nav ul li a:hover {
  color: #504766;
  background-color: #ddd;
  border-radius: 5px;
}
nav ul li a.active {
  color: #504766;
  background-color: #ddd;
  border-radius: 5px;
}

/* End Nav */
@keyframes lds-blocks {
  0% {
    background: #504766;
  }
  25% {
    background: #504766;
  }
  25.25% {
    background: #ddd;
  }
  100% {
    background: #ddd;
  }
}
.outer {
  display: none;
  background: #232c30b6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.lds-blocks {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}
.lds-blocks div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #ddd;
  -webkit-animation: lds-blocks 1s linear infinite;
  animation: lds-blocks 1s linear infinite;
}
.lds-blocks :nth-child(1) {
  left: 39px;
  top: 39px;
  animation-delay: 0s;
}
.lds-blocks :nth-child(2) {
  left: 80px;
  top: 39px;
  animation-delay: 0.12s;
}
.lds-blocks :nth-child(3) {
  left: 121px;
  top: 39px;
  animation-delay: 0.24s;
}
.lds-blocks :nth-child(4) {
  left: 121px;
  top: 80px;
  animation-delay: 0.36s;
}
.lds-blocks :nth-child(5) {
  left: 121px;
  top: 121px;
  animation-delay: 0.48s;
}
.lds-blocks :nth-child(6) {
  left: 80px;
  top: 121px;
  animation-delay: 0.56s;
}
.lds-blocks :nth-child(7) {
  left: 39px;
  top: 80px;
  animation-delay: 0.68s;
}
.lds-blocks :nth-child(8) {
  left: 39px;
  top: 121px;
  animation-delay: 0.8s;
}
/* Begin Signup */
.container {
  display: inline-block;
  margin: 20px auto;
  text-align: left;
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
  background-color: #504766;
  opacity: 0.9;
  border-radius: 10px;
}

form h1 {
  color: whitesmoke;
}
label {
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  border: none;
  background: white;
}
form div {
  margin: 5px 0 22px 0;
}
.form {
  display: block;
  text-align: center;
}
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.btn {
  background-color: whitesmoke;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
  font-size: 18px;
  border-radius: 5px;
}
.centralizeBtn {
  display: flex;
  justify-content: center;
}
.btn:hover {
  background-color: #ddd;
}
.text-danger {
  color: red;
}
.section-image {
  background-image: url("../images/download.png");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
}

/* End Signup */

@media only screen and (min-width: 600px) {
  /* Begin Nav */
  nav {
    padding-right: 10%;
  }
  ul {
    font-size: 20px;
    font-weight: 400;
  }
  nav ul li {
    margin-right: 10px;
  }
  /* End Nav */
  .container {
    /* margin-bottom: 50px; */
    margin-top: 50px;
  }
}
