body,
html {
  height: 100%;
  font-family: "Open Sans", "Helvetica", "Verdana", sans-serif;
  background-color: #ddd;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.center{
  text-align: center;
}
.small {
  font-size: small;
}

.dark-nav {
  background-color: #504766;
}
.dark-text {
  color: gray;
}
.darker-text {
  color: #504766;
}
.light-text {
  color: #ddd;
}
.center {
  text-align: center;
}

.dark-button {
  padding: 16px 20px;
  border: none;
  width: 100px;
  opacity: 0.9;
  color: #ddd;
  font-size: 18px;
  background-color: #504766;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.dark-button:hover{
  opacity: 1;
}
/* Begin Nav */
nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  background-color: #504766;
  opacity: 0.9;
}

#logo{
  display: none;
}

nav ul {
  font-size: 15px;
  list-style-type: none;
  background-color: transparent;
}

nav ul li {
  min-width: fit-content;
  display: inline-block;
  /* margin-right: 10px; */
}

nav ul li a {
  display: inline;
  color: #ddd;
  text-align: center;
  text-decoration: none;
  padding: 7px;
}
nav ul li a:hover {
  color: #504766;
  background-color: #ddd;
  border-radius: 5px;  
}
nav ul li a.active {
  color: #504766;
  background-color: #ddd;
  border-radius: 5px;  
}

#logo{
  color: #504766;
  background-color: #ddd;
  border-radius: 5px;  
  display: none;
}
/* End Nav */

/* Begin Hero */
.hero-image {
  background-image: url("../images/download.png");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-forms {
  display: none;
}

.hero-text {
  /* text-align: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -50%);
  color: black;
}

.hero-text .button {
  color: #ddd;
  background-color: #504766 !important;
  opacity: 0.9;
  text-decoration: none;
}

.hero-text .button:hover {
  opacity: 1;
}
.hero-text p{
  text-shadow: 0 1px 0 #ddd;
}
.hero-text h1{
  text-shadow: 0 1px 0 #ddd,
               0 2px 0 #ddd,
               0 3px 0 #ddd,
               0 4px 0 #ddd,
               0 5px 0 #ddd,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#postBtn{
  display: none;
}
/* End Hero */
.intro-text{
  border: 3px solid #504766;
  color: #504766;
  box-shadow: 0 0 30px #504766;
}

.stepsrow h4 {
  font-weight: bold;
}

.steps {
  text-align: center;
  text-decoration-color: white;
  word-spacing: 2px;
  line-height: 20px;
box-shadow:  0 0 5px #504766;

}

.icon {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.row-4 {
  margin: 10px 0;
display: grid;
grid-template-columns: 1fr;
grid-gap: 5px;
}
#createaccount,
 #askquestion,
 #browsemeetups,
  #interact{
    color: #504766;
    background-color: #ddd !important;
}

#createaccount:hover, 
#askquestion:hover,
#browsemeetups:hover,
#interact:hover{
  color: #ddd;
  background-color: #504766 !important;
} 
.fas{
  color: black;
  opacity: 0.7;
}
.hvrbox {
	position: relative;
	overflow: hidden;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.viewdetail:hover {
    color: #d79cbc !important;
    text-decoration: none;
}
.viewdetail {
    text-decoration: none;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.response{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: space-around;
  cursor: pointer;
  
}
.yes:hover{
  color: green !important;
}
.no:hover{
  color: red !important;
}
.maybe:hover{
  color: yellow !important;
}
.meetups{
  padding: 10px;
}
.meetup {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.meetup:hover {
  box-shadow: 0 12px 18px 0 rgba(0,0,0,0.2);
}

.meetupimage {
  border-radius: 5px 5px 0 0;
}

.meetup-container {
  padding: 2px 16px;
  color: #504766;
  font-weight: 200;
}
.response div i{
 display: none;
}
.viewmore{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-bottom: 10px;
  color: #ddd
}
.viewmore a{
  background-color: #504766;
  color: #ddd;
  font-size: 17px;
  text-decoration: none;
  font-weight: bolder;
  padding: 3px;
}
.viewmore a:hover{
  color: #504766;
  background-color: gray;
}
/* Begin featured-contents */
.featured-heading{
  color: #504766;
}
.featured {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #ddd;
  box-shadow: 0 0 30px #504766;
}
.featured1 {
  background-color: #504766;
}
.featured-contents2 {
  background-color: #ddd !important;
  color: #504766 !important;
}
.featured-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bolder;
  background-color: #504766;
}
.activity{
  box-shadow: 0 0 30px #ddd;
}
.shadow{
  box-shadow: 0 0 30px #504766;
}
.centralize{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End featured-contents */

.sponsorImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.square{
  width: 60px;
  height: 60px;
}
/* Begin footer */
footer {
  
  margin-top: 30px;
  background-color: #504766;
  color: #ddd;
}
/* End footer */
@media only screen and (min-width: 500px) {
  nav{
    display: flex;
    justify-content: space-between;
  }
  nav h1{
    display: flex;
    justify-content: center;
    padding-left: 20px; 
    color: #ddd;
    text-align: center;
  }
  #logo{
    display: inline;
  }
  .hero-text {
    /* text-align: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    color: black;
  }
  .row-4 {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    }
    .meetup-container h4{
    font-size: 14px;
    }
    .meetup-container p{
    font-size: 12px;
    }
    .featured {
      height: 150px;
    }
    .featured-contents {
      width: 100px;
      height: 100px;
      font-size: 40px;
    }
}

@media only screen and (min-width: 600px) {

  .container {
    width: 90%;
    margin: 0 auto;
  }
  /* Begin Nav */
  nav {
    padding-right: 10%;
  }
  ul {
    font-size: 20px;
    font-weight: 400;
  }
  nav ul li {
    margin-right: 10px;
  }
  nav ul li a{
    font-size: 25px;
  }
  /* End Nav */

  /* Begin Hero */
  .hero-image {
    height: 80%;
  }
  .hero-text {
    transform: translate(-95%, -50%);
    font-size: 30px;
  }
  .hero-text button {
    font-size: 30px;
  }
  
  #signupBtn{
    display: none;
  }
  #postBtn{
    display: inline;
  }
  .hero-forms {
    display: inline;
    position: absolute;
    right: 0;
    top: 20%;
    margin: 20px;
    min-width: 240px;
    max-width: 300px;
    padding: 16px;
    background-color: #504766;
  }
  .light-button {
    padding: 16px 20px;
    border: none;
    width: 100%;
    opacity: 0.9;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  .light-button:hover {
    opacity: 1;
  }
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #ddd;
  }
  input[type="email"]:focus,
  input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }
  .register small a {
    color: #d79cbc;
    font-weight: bold;
  }
  .form-group {
    margin-bottom: 10px;
  }

  /* End Hero */
  .row-4 {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    }
    .meetup-container h4{
    font-size: 14px;
    }
    .meetup-container p{
    font-size: 12px;
    }
  /* Begin featured-contents */
  .featured {
    height: 150px;
  }
  .featured-contents {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }
  /* End featured-contents */

  /* Begin footer */
  footer {
    padding-top: 6px;
    padding-left: 20px;
    font-size: 20px;
    padding-bottom: 6px;
    background-color: #504766;
    color: #ddd;
  }
  /* End footer */
}

@media only screen and (min-width: 768px) {
  .desktopcontainer {
    width: 90%;
    margin: 0 auto;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  nav ul li a{
    font-size: 20px;
  }
  /* Begin Hero */
  .nav{
    font-size: 25px;
  }
  .hero-image {
    height: 80%;
  }
  .hero-text {
    transform: translate(-90%, -50%);
    font-size: 40px;
    color: purple;
  }

  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    background-color: #504766;
    text-align: center;
    cursor: pointer;
  }

  .register small a {
    color: #d79cbc;
    font-weight: bold;
  }
  /* End Hero */
  .row-4 {
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    }
  /* Begin featured-contents */
  .featured {
    height: 200px;
  }
  .featured-contents {
    width: 130px;
    height: 130px;
    font-size: 40px;
  }
  /* End featured-contents */
.response div i{
  display: inline;
  font-size: 40px;
  color: white ;
  padding-right: 5px;
}
.yes:hover{
  color: green !important;
}
.no:hover{
  color: red !important;
}
.maybe:hover{
  color: yellow !important;
}
.response div:hover{
  font-size: 30px;
  font-weight: bold;
}

.viewdetail:hover{
  font-size: 20px
}

.response div{
  /* padding-top: 5px; */
  font-size: 20px
}

  /* Begin footer */
  footer {
    padding-top: 6px;
    padding-left: 20px;
    font-size: 20px;
    background-color: #504766;
    color: #ddd;
  }
  /* End footer */
}
@media only screen and (min-width: 868px) {
  nav ul li a{
    font-size: 20px;
  }
  /* Begin Hero */
  .nav{
    font-size: 25px;
  }
  .hero-text {
    font-size: 40px;
    font-weight: bolder;
  }
}
