html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color: #ddd;
}
/* .profile-container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  color: #504766;
  justify-content: center;
} */

/* .side-bar {
  height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #504766;
  } */
  #mainContainer{
    width: 90%;
    margin: 0 auto;
  }

.profile-pic {
  margin: 10px auto;
  border-radius: 50%;
  border: 1px solid #504766;
  width: 150px;
  height: 150px;
  background-color: white;
}

#user-details {
  padding: 10px 0;
}

#info-div div {
  margin: 20px 10px;
}
.info-text-box {
  border: none;
  border-bottom: 1px solid #504766;
  background-color: #ddd;
  padding: 10px;
  width: 100%;
  color: #504766;
}
#meetupBtn {
  padding: 10px 5px;
  background-color: #504766;
  color: #ddd;
  border: none;
  margin: auto;
  text-decoration: none;
  opacity: 1;
}
#meetupBtn:hover{
  opacity: 0.9;
  padding: 15px 10px;
}
#meetupBtn-div{
  display: none;
  margin: 50px 0;
}
/* .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ddd;
    display: block;
    transition: 0.3s;
  } */
  #deletemeetup{

  }
.user-actions {
  margin: 10px auto;
  padding: 3px 10px;
}

.user-activity {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr;
  color: #ddd;
}
.user-activity h5 {
  border-bottom: 1px solid #ddd;
}
.user-activity div {
  padding: 10px;
  background-color: #504766;
}
.tags .small {
  font-size: smaller;
}
@media only screen and (min-width: 600px) {
  .side-bar {
    width: 150px;
  }
  .profile-pic {
    width: 200px;
    height: 200px;
  }
  #user-details{
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    margin: 30px 0;
  }
  label{
    color: #504766;
    font-size: 20px;
  }
  .info-text-box{
    font-size: 20px;
  }
  .user-activity {
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}
