html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
    width: 100%;
}

nav ul li a {
  color: #ddd;
}
.profile-container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  color: #504766;
  justify-content: center;
}
#meetupBtn{
    padding: 10px 5px;
    background-color: #ddd;
    border: none;
    margin: 30px 15%;
}
.user-activity {
  font-size: 14px;
}
.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #504766;
}
.profile-pic {
  margin: 10px auto;
  border-radius: 50%;
  border: 3px solid #ddd;
  width: 80px;
  height: 80px;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ddd;
    display: block;
    transition: 0.3s;
  }
  .user-actions{
      margin: 10px auto;
      padding: 3px 10px;
  }
.main {
    transition: margin-left .5s;
  margin-left: 0;
  padding: 10px 10px;
  margin-top: 50px;
  margin-bottom: 150px;
}
.user-activity {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr;
}
.user-activity h5 {
  border-bottom: 1px solid #504766;
}
.user-activity div {
  height: 100px;
  /* background-color: #fff; */
}
.tags .small{
    font-size: smaller;
}
@media only screen and (min-width: 600px) {
    .side-bar{
        width: 150px;
    }
    .profile-pic {
    width: 80px;
    height: 80px;
  }
  .user-activity {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
  }
}
